In [34]:
import pandas as pd

dataframe = pd.read_csv("lab_1.csv", sep=';')

dataframe.head()

         id     name price currency  created_at
0  SKU-1001   shoes    799      SEK  2024-01-10
1  SKU-1002    pants   520      SEK  2024/02/15
2  SKU-1003   shirts   450      SEK         NaN
3       NaN   jacket  -200     SEK   2024-13-01
4  SKU-1005      NaN   NaN      NaN

In [39]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          53 non-null     object
 1   name        53 non-null     object
 2   price       52 non-null     object
 3   currency    52 non-null     object
 4   created_at  53 non-null     object
dtypes: object(5)
memory usage: 2.3+ KB

In [41]:
clean_dataframe = dataframe.dropna()

clean_dataframe

          id             name          price currency  created_at
0   SKU-1001           shoes             799      SEK  2024-01-10
1   SKU-1002            pants            520      SEK  2024/02/15
8   SKU-1009            socks             99      SEK  2024-02-01
9   SKU-1010            boots           1500      SEK  2024-02-15
10  SKU-1011            scarf            200      SEK  2024-03-01
11  SKU-1012             belt            300      SEK  2024/03/10
12  SKU-1013              cap             75      SEK  2024-04-01
13  SKU-1014          t-shirt              0      SEK  2024-04-10
14  SKU-1015           hoodie            -50      SEK  2024-04-15
15  SKU-1016             coat           2500      SEK  2024-05-01
16  SKU-1017            jeans            800      SEK  2024-05-05
17  SKU-1018         sneakers           1200      SEK  2024-05-10
18  SKU-1019          sandals            400      SEK  2024-05-15
19  SKU-1020            watch          15000      SEK  2024-06-01
20  SKU-1021             ring          25000      SEK  2024-06-05
21  SKU-1022         bracelet            500      SEK  2024-06-10
22  SKU-1023        necklace             650      SEK  2024-06-15
23  SKU-1024       sunglasses            900      SEK  2024-07-01
24  SKU-1025         backpack           1100      SEK  2024-07-05
25  SKU-1026         umbrella            300      SEK  2024-07-10
26  SKU-1027   winter jacket            3500      SEK  2024-07-15
27  SKU-1028           shorts            450      SEK  2024-08-01
28  SKU-1029            skirt            500      SEK  2024-08-05
29  SKU-1030           gloves            200      SEK  2024-08-10
30  SKU-1031          mittens            220      SEK  2024-08-15
31  SKU-1032             suit           5000      SEK  2024-09-01
32  SKU-1033              tie            150      SEK  2024-09-05
33  SKU-1034           blazer           2200      SEK  2024-09-10
34  SKU-1035             polo            600      SEK  2024-09-15
35  SKU-1036         leggings            350      SEK  2024-10-01
36  SKU-1037        tracksuit           1200      SEK  2024-10-05
37  SKU-1038         swimsuit            700      SEK  2024-10-10
38  SKU-1039             coat         999999      SEK  2024-10-15
39  SKU-1040            parka           4500      SEK  2024-11-01
40  SKU-1041           beanie            180      SEK  2024-11-05
41  SKU-1042         earmuffs            130      SEK  2024-11-10
43  SKU-1044             vest            800      SEK  2024-12-01
44  SKU-1045          loafers           1100      SEK  2024-12-05
45  SKU-1046        sneakers            1000      SEK  2024-12-10
46  SKU-1047            heels           1500      SEK  2024-12-15
47  SKU-1048        flipflops            100      SEK  2024-12-20
48  SKU-1049             robe            900      SEK  2024-12-25
49  SKU-1050          pyjamas            600      SEK  2025-01-01
50  SKU-1051       suspenders            250      SEK  2025-01-05
51  SKU-1052             coat  not_available      SEK  2025-01-10
52  SKU-1053              cap             85      SEK  2025-01-15

In [28]:
reject_condition = (
       (dataframe["id"] == "") |
       (dataframe["price"] == '799')
)
df_rejected = dataframe[reject_condition].copy()
df_valid = dataframe[~reject_condition].copy()

In [29]:
df_rejected

         id     name price currency  created_at  id missing
0  SKU-1001   shoes    799      SEK  2024-01-10       False