In [12]:
import pandas as pd

dataframe = pd.read_csv("lab_1.csv", sep=';')

dataframe.head()

         id     name price currency  created_at
0  SKU-1001   shoes    799      SEK  2024-01-10
1  SKU-1002    pants   520      SEK  2024/02/15
2  SKU-1003   shirts   450      SEK         NaN
3       NaN   jacket  -200     SEK   2024-13-01
4  SKU-1005      NaN   NaN      NaN

In [13]:
dataframe['price'] = dataframe['price'].str.replace("free", "0", regex=False)
dataframe['price'] = pd.to_numeric(dataframe['price'], errors='coerce')
dataframe['created_at'] = dataframe['created_at'].str.replace("/", "-", regex=False)
dataframe['created_at'] = pd.to_datetime(dataframe['created_at'], errors='coerce')
dataframe['name'] = dataframe['name'].str.strip()
dataframe['currency'] = dataframe['currency'].str.strip()

dataframe.head()

         id    name  price currency created_at
0  SKU-1001   shoes  799.0      SEK 2024-01-10
1  SKU-1002   pants  520.0      SEK 2024-02-15
2  SKU-1003  shirts  450.0      SEK        NaT
3       NaN  jacket -200.0      SEK        NaT
4  SKU-1005     NaN    NaN      NaN        NaT

In [ ]:
reject_condition = (
       (dataframe['id'].isna()) |
       (dataframe['price'].isna()) |
       (dataframe["price"] < 0)
)

df_rejected = dataframe[reject_condition].copy()
df_valid = dataframe[~reject_condition].copy()

df_rejected.to_csv('rejected_products.csv',sep=',', index=False, header=True)
df_valid.to_csv('accepted_products.csv', sep=',', index=False, header=True)

In [10]:
df_valid = pd.read_csv('accepted_products.csv', sep=',')

df_valid['is_flagged'] = (
    (df_valid['name'].isna()) |
    (df_valid['currency'].isna()) |
    (df_valid['created_at'].isna()) |
    (df_valid['price'] == 0) |
    (df_valid['price'] > 10000)
)

df_valid

          id           name     price currency  created_at  is_flagged
0   SKU-1001          shoes     799.0      SEK  2024-01-10       False
1   SKU-1002          pants     520.0      SEK  2024-02-15       False
2   SKU-1003         shirts     450.0      SEK         NaN        True
3   SKU-1008         gloves     120.0      NaN  2024-06-20        True
4   SKU-1009          socks      99.0      SEK  2024-02-01       False
5   SKU-1010          boots    1500.0      SEK  2024-02-15       False
6   SKU-1011          scarf     200.0      SEK  2024-03-01       False
7   SKU-1012           belt     300.0      SEK  2024-03-10       False
8   SKU-1013            cap      75.0      SEK  2024-04-01       False
9   SKU-1014        t-shirt       0.0      SEK  2024-04-10        True
10  SKU-1016           coat    2500.0      SEK  2024-05-01       False
11  SKU-1017          jeans     800.0      SEK  2024-05-05       False
12  SKU-1018       sneakers    1200.0      SEK  2024-05-10       False
13  SKU-1019        sandals     400.0      SEK  2024-05-15       False
14  SKU-1020          watch   15000.0      SEK  2024-06-01        True
15  SKU-1021           ring   25000.0      SEK  2024-06-05        True
16  SKU-1022       bracelet     500.0      SEK  2024-06-10       False
17  SKU-1023       necklace     650.0      SEK  2024-06-15       False
18  SKU-1024     sunglasses     900.0      SEK  2024-07-01       False
19  SKU-1025       backpack    1100.0      SEK  2024-07-05       False
20  SKU-1026       umbrella     300.0      SEK  2024-07-10       False
21  SKU-1027  winter jacket    3500.0      SEK  2024-07-15       False
22  SKU-1028         shorts     450.0      SEK  2024-08-01       False
23  SKU-1029          skirt     500.0      SEK  2024-08-05       False
24  SKU-1030         gloves     200.0      SEK  2024-08-10       False
25  SKU-1031        mittens     220.0      SEK  2024-08-15       False
26  SKU-1032           suit    5000.0      SEK  2024-09-01       False
27  SKU-1033            tie     150.0      SEK  2024-09-05       False
28  SKU-1034         blazer    2200.0      SEK  2024-09-10       False
29  SKU-1035           polo     600.0      SEK  2024-09-15       False
30  SKU-1036       leggings     350.0      SEK  2024-10-01       False
31  SKU-1037      tracksuit    1200.0      SEK  2024-10-05       False
32  SKU-1038       swimsuit     700.0      SEK  2024-10-10       False
33  SKU-1039           coat  999999.0      SEK  2024-10-15        True
34  SKU-1040          parka    4500.0      SEK  2024-11-01       False
35  SKU-1041         beanie     180.0      SEK  2024-11-05       False
36  SKU-1042       earmuffs     130.0      SEK  2024-11-10       False
37  SKU-1044           vest     800.0      SEK  2024-12-01       False
38  SKU-1045        loafers    1100.0      SEK  2024-12-05       False
39  SKU-1046       sneakers    1000.0      SEK  2024-12-10       False
40  SKU-1047          heels    1500.0      SEK  2024-12-15       False
41  SKU-1048      flipflops     100.0      SEK  2024-12-20       False
42  SKU-1049           robe     900.0      SEK  2024-12-25       False
43  SKU-1050        pyjamas     600.0      SEK  2025-01-01       False
44  SKU-1051     suspenders     250.0      SEK  2025-01-05       False
45  SKU-1053            cap      85.0      SEK  2025-01-15       False
46  SKU-1054            NaN     450.0      SEK  2025-02-01        True
47  SKU-1055          scarf     300.0      NaN  2025-02-05        True

In [15]:
data = {
    "price_average": [df_valid['price'].mean()],
    "price_median": [df_valid['price'].median()],
    "products_frequency": [len(df_valid)],
    "missing_price": [df_rejected['price'].count()]
}

analytics_summary = pd.DataFrame(data)

analytics_summary.to_csv('analytics_summary.csv',sep=',', index=False)
df = pd.read_csv('analytics_summary.csv', sep=',')

In [ ]:
sorted_values_asc = df_valid.sort_values(by='price', ascending=True, na_position='last').head(10)
sorted_values_desc = df_valid.sort_values(by='price', ascending=False, na_position='last').head(10)

deviant_prices = pd.concat([sorted_values_asc, sorted_values_desc])

deviant_prices.to_csv('price_analysis.csv', sep=',', index=False)